<div fxLayout="row" fxLayoutGap="12px">
  <button
    mat-raised-button
    [routerLink]="'/no-concept'"
    routerLinkActive="mat-accent"
  >
    Kein Konzept 😞
  </button>
  <button
    mat-raised-button
    [routerLink]="'/smart-dumb-concept'"
    routerLinkActive="mat-accent"
  >
    Smart & Dumb Konzept 👍
  </button>
  <button
    mat-raised-button
    [routerLink]="'/feature-module-concept'"
    routerLinkActive="mat-accent"
  >
    Feature Module Konzept 🚀
  </button>
</div>
<div class="pad-top"><router-outlet></router-outlet></div>
